body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(loginPageBg.jpg);
    background-size: cover;
}
.box{
    /* border: 3px solid rgb(22, 22, 21); */
    width: 700px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%,-50%);
    /* background-color: rgb(222, 226, 200);; */
    text-align: center;
}
h2{
    font-weight: 500;
    font-size: 170%;
    color:rgb(230, 76, 15);
}
h1{
    position: absolute;
    top: 10%;
    left: 55%;
    color:rgb(177, 57, 10);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 270%;

}
.box input[type="password"],.box input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid rgb(114, 223, 42);
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: rgb(17, 17, 17);
    border-radius: 24px;
    transition: 0.25px;
    font-weight: 300;
}
.box input[type="password"]:focus,.box input[type="password"]:focus{
    width: 270px;
    border-color: rgb(238, 7, 7);;
}
.box input[type ="button"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid rgb(84, 173, 24);;
    padding: 14px 35px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;
    font-size: 200%;
}
.box input[type ="button"]:hover{
    background:rgb(48, 252, 7) ;
}